
<h1>Add a review for this restaurant!</h1>
<%= simple_form_for ([@restaurant, @review]) do |f| %>
        <div class = "form-group">
        <%= f.input :content %>
        </div>
        <div class = "form-group">
        <%= f.input :rating %>
        </div>
        <div class = "form-group">
        <%= f.submit class: 'btn btn-primary' %>
        </div>
      <% end %>


